* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #000;
}

hr {
    background: rgb(202, 202, 202);
    height: 1px;
    border: 0;
}

.intro_bg {
    /* background-color: burlywood; */
    width: 100%;
    height: 120px;
    /* background-image:url("/project/img/doit.jpg") */
}

.top_menu {
    display: flex;
    width: 1536px;
    margin: auto;
    /* height: 10px; */
    /* background: yellow; */
}

.header {
    /* 1536px 노트북 사이즈 1920fhd표준 1280hd표준 */
    display: flex;
    width: 1536px;
    margin: auto;
    /* background-color: red; */
    height: 220px;
}

.search_area {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* background: darkgray; */
    height: 30px;
    margin-top: 10px;
}

.search_area>form>input {
    /* margin-top: 20px; */
    border: solid rgb(139, 138, 138) 1px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    /* 검색창 기본 디자인 색상 아래 삭제 */
    background: rgba(0, 0, 0, 0);
    color: black;
    padding-left: 10px;
}

/* 검색창 내부 설정 */

.search_area>form>button {
    width: 40px;
    height: 30px;
    color: black;
    font-weight: bold;
}

/* 검색창 버튼 설정 추후 이미지로 변경필요 */
.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 18px;
    /* width: calc(1536px - 300px); */
    /* background: rgb(155, 241, 206); */
    height: 100px;
    /* line-height: 220px; */
    margin-top: 15px;
}

.nav>li {
    display: inline-block;
    margin-left: 84px;
    font-weight: bold;
    /* 글자색 안먹음 하위 태그에서 먹음*/
    /* color: #fff; */
}

.nav>li>a {
    color: black;
}

/* 네비 글자 검정색 넣음 */

.nav>li>a:hover {
    background: rgb(95, 95, 95);
    color: white;
    width: 100%;
    text-align: center;
}

.nav>li:hover .nav_1 {
    display: block;
}

.nav_1 {
    display: none;
    position: absolute;
    background: white;
}

/* 네비 하단 메뉴 설정 */

.intro_text {
    width: 100%;
    /* height: 300px; */
    margin: -70px auto -70px auto;
    /* margin 상 우 하 좌 */
    /* background: orange; */
    text-align: center;
}

.intro_text>h1,
.intro_text>h4 {
    color: black;
}

/* main start */
#container_box {
    width: 1536px;
    margin: auto;
    height: 900px;
    /* background: rebeccapurple; */
}

.containerTitle {
    font-size: 36px;
    margin-top: 30px;
}
.intro_box {
    text-align: center;
    margin-top: 30px;
}
.mainText_sub {
    font-size: larger;
}
.strongText {
    font-size: larger;
    color: rgb(53, 53, 187);
}
.copyright_guide {
    background: rgb(224, 221, 221);
    margin: 20px;
    padding: 30px;
}

/* main end */

.tail_group_main {
    /* display: flex; */
    margin: auto;
    text-align: center;
    align-items: center;
}