<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketOpenCloseMapper">

	<resultMap id="CodelistDTO" type="com.kh.vo.CodelistDTO">
		<result property="bd_code" column="bd_code" />
		<result property="district" column="district" />
	</resultMap>

	<resultMap id="MarketOpenCloseDTO" type="com.kh.vo.MarketOpenCloseDTO">
 		<result property="marketyear" column="marketyear" />
		<result property="marketquarter" column="marketquarter" />
		<result property="bd_code" column="bd_code" />
		<result property="bd_codename" column="bd_codename" />
		<result property="service_code" column="service_code" />
		<result property="service_codename" column="service_codename" />
		<result property="marketofstores" column="marketofstores" />
		<result property="marketopen" column="marketopen" />
		<result property="marketclose" column="marketclose" />
		<result property="marketofstroes" column="marketofstroes" />
		<collection property="codelistDTO" resultMap="CodelistDTO"/>
	</resultMap>

	<select id="selectRpiegraphData" parameterType="com.kh.vo.MarketOpenCloseDTO" resultMap="MarketOpenCloseDTO">
		SELECT marketyear, marketquarter, sum(marketopen) AS marketopen, sum(marketclose) AS marketclose, sum(marketofstores) AS marketofstores
		FROM
		    (
		        SELECT mop.marketyear, mop.marketquarter, b.district, mop.service_codename, mop.marketopen, mop.marketclose, mop.marketofstores
		        FROM marketopenclose mop JOIN bd_codelist b 
		        ON mop.bd_code = b.bd_code AND mop.service_codename = '패스트푸드점' AND b.district = #{district}
		    )
		GROUP BY marketyear, marketquarter
		ORDER BY marketyear
	</select>
	
</mapper>                 